<div class="page-wis">

  <div class="row">
    <div class="wis-container">

      <div class="btn-group btn-personal" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
          选项
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/ui">UI</a></li>
          <li><a href="/1ntlvb7r">Game</a></li>
          <li><a href="javascript:;">个人档案</a></li>
          <li><a href="javascript:;">房间设置</a></li>
          <li class="divider"></li>
          <li><a href="javascript:;" ng-click="logout()">退出</a></li>
        </ul>
      </div>

      <h1>汉典</h1>

    </div>
  </div>


  <div class="row">
    <div class="wis-container">

      <div class="panel panel-default">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" ng-click="">
            <span class="glyphicon glyphicon-book"></span>
          </span>
          <input type="text"
                 id="wis-input"
                 class="form-control"
                 placeholder="{{getTips()}}"
                 x-ng-keydown="speak($event);"
                 x-ng-model="input"
                 >
        </div>
      </div>

    </div>
  </div>


  <div class="row" collapse="!isVisible('ready')">
    <div class="wis-container">

      <div class="panel panel-default">

        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-home" ng-click="debug()"></span>
            {{model.room.name}}（{{getBoard()}}）
          </strong>
        </div>

        <ul class="list-unstyled list-wis">
          <li class="list-group-item" ng-repeat="data in model.members"
              x-ng-class="{'bg-info': data.flag == 'ready', 'bg-default': data.flag == 'master'}"
              ng-click="vote($index)"
              >
            <span x-ng-if="data.flag == 'master'"
                  title="房主"
                  class="icon glyphicon glyphicon-flag"></span>
            <span x-ng-if="data.flag != 'master'"
                  class="icon glyphicon glyphicon-blank"></span>

            <span id="balloon-{{$index}}"
                  class="wis-balloon"
                  popover-placement="right"
                  popover="{{model.chats[$index]}}"
                  popover-trigger="focus"
                  >
              <strong>
                {{data.name}}：
              </strong>
              {{data.slogan}}
            </span>
          </li>

          <li>
            <section class="row text-center">
                <button x-ng-click="action()"
                        x-ng-disabled="!actionAvailable()"
                        class="btn btn-w-md btn-gap-v btn-line-primary">
                {{model.actionLabel}}
              </button>
            </section>
          </li>
        </ul>

      </div>

    </div>
  </div>

  <div class="row" collapse="!isVisible('play')">
    <div class="wis-container">

      <div class="panel panel-default">

        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-home" ng-click="debug()"></span>
            【{{model.word}}】 {{model.room.name}}（第 {{model.round}} 版）
          </strong>
        </div>

        <ul class="list-unstyled list-info">
          <li class="list-group-item" ng-repeat="data in model.scene.speaks"
              ng-click="vote(data.uid)"
              >
            <span x-ng-if="data.uid == model.scene.next"
                  title="请发言"
                  class="icon glyphicon glyphicon-volume-up"></span>
            <span x-ng-if="data.uid != model.scene.next"
                  class="icon glyphicon glyphicon-blank"></span>

            {{data.profile.name}}：
            {{data.message}}
          </li>

          <li x-ng-hide="">
            <section class="row text-center">
              <button class="btn btn-w-md btn-gap-v btn-line-primary" ng-click="start()">
                请投票
              </button>
            </section>
          </li>

        </ul>

      </div>

    </div>
  </div>

</div>
