<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">WIS</a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <section class="row signin-social text-center">
                  <p>请输入真实姓名(现只支持内部测试用户登录)</p>
                  <span ng-model="error"></span>
                </section>

                <span class="line-thru">OR</span>

                <form class="form-horizontal"
                      name="login_form"
                      novalidate
                      ng-submit="submit()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="username"
                                       placeholder="姓名"
                                       ng-model="login.username"
                                       required
                                       />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="密码"
                                       ng-model="login.password"
                                       required
                                       />
                            </div>
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-lg btn-block" value="登录" />
                        </div>
                        <div class="has-error text-center"
                             ng-show="!login_form.$valid">
                          <p ng-show="login_form.$error.required">
                            请输入用户名和密码。
                          </p>
                          <p ng-show="login_form.$error.login">
                            用户名或密码错误。
                          </p>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a href="javascript:;">Forgot your password?</a></p>
                    <p class="text-center text-muted text-small">Don't have an account yet? <a href="javascript:;">Sign up</a></p>
                </section>

            </div>
        </div>
    </div>

</div>
