<div class="container">
    <h1>汉典</h1>

    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" ng-click="startGame()">
                        <span class="glyphicon glyphicon-book"></span>
                    </span>
                    <input type="email"
                           class="form-control"
                           placeholder="{{player_num}}"
                           >
                </div>
            </div>


            <!-- List group -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 现代汉语词典（第6版）</strong></div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="player in players">
                        {{title($index+1)}}、{{player.profile.slogan}}
                    </li>
                    <!-- <li class="list-group-item">
                    <span class="badge badge-warning">2</span>
                    <span class="glyphicon glyphicon-hand-left"></span>
                    </li> -->
                </ul>
            </div>
            <!-- end List group -->
        </div>
    </div>
</div>
