<div class="container">
  <h1 ng-controller="LangCtrl" ng-click="nextLang()" i18n="谁是卧底"></h1>

  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" ng-click="startGame()">
            <span class="glyphicon glyphicon-book"></span>
          </span>
          <input type="text"
                 class="form-control"
                 placeholder="{{title}}"
                 ng-keydown="keyPress($event);"
                 ng-model="input"
                 >
        </div>
      </div>


      <!-- List group -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-th" ng-click="debug()"></span>
            {{subtitle}}
          </strong>
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in players"
              ng-click="vote($index)"
              >
            {{item}}
          </li>
          <!-- <li class="list-group-item">
          <span class="badge badge-warning">2</span>
          <span class="glyphicon glyphicon-hand-left"></span>
          </li> -->
        </ul>
      </div>
      <!-- end List group -->
    </div>
  </div>
</div>
